@charset "UTF-8";
.a-swiper .swiper_slide {
  height: var(--swiper-slide-h);
}

.a-btn-radio-group .a-radio1 {
  border: 1px solid var(--a-btn-radio-bgc, var(--borderColor));
}
.a-btn-radio-group .a-radio1::part(checked) {
  opacity: 0;
  margin: 0;
  width: 1px;
}
.a-btn-radio-group .a-radio1[checked] {
  border-color: var(--a-btn-radio-checked-bgc, var(--borderColor-active));
}

.a-page-wrapper {
  height: 100%;
  --page-wrapper-nav-tpl: 1fr 60vw 1fr;
  --page-wrapper-nav-h: 40px;
  --page-wrapper-content-h: calc(100% - 40px);
}
.a-page-wrapper .page-wrapper__nav {
  align-items: center;
}

.a-page-frame {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
}

#routerroot {
  --app-nav-w: 90px;
}

#nav {
  width: var(--app-nav-w);
}
#nav .nav__link {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
#nav .nav--seleted {
  color: var(--text-primary-blue);
}

@media screen and (max-width: 768px) {
  .a-hide-in-mobile {
    display: none !important;
  }
  #routerroot {
    flex-direction: column;
    --app-nav-w: 100%;
  }
  #nav {
    height: 70px;
    order: 1;
    display: grid;
    grid-template-columns: 1fr;
  }
  #nav:has(.nav__link:nth-child(2)) {
    grid-template-columns: 1fr 1fr;
  }
  #nav:has(.nav__link:nth-child(3)) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #nav > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
:root {
  --themeColor: #409eff; /**全局设置**/
  --borderColor: rgba(0,0,0,.2);
}

html {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

textarea {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

my-date-picker.date-picker {
  all: initial;
  height: 39px;
  display: block;
}

:root {
  --cus-background: #bfd5ff;
}

:root {
  --text-primary: #1b1b1b;
  --text-secondary: #4e4e4e;
  --text-inactive: #9e9e9ea6;
  --text-link: #0069c2;
  --text-invert: #fff;
  --background-primary: #fff;
  --background-secondary: #f9f9fb3f;
  --background-tertiary: #fff;
  --background-toc-active: #ebeaea;
  --background-mark-yellow: rgba(199,183,0,.4);
  --background-mark-green: rgba(0,208,97,.4);
  --background-information: rgba(0,133,242,.1);
  --background-warning: rgba(255,42,81,.1);
  --background-critical: rgba(211,0,56,.1);
  --background-success: rgba(0,121,54,.1);
  --border-primary: #cdcdcd;
  --border-secondary: #cdcdcd;
  --button-primary-default: #1b1b1b;
  --button-primary-hover: #696969;
  --button-primary-active: #9e9e9e;
  --button-primary-inactive: #1b1b1b;
  --button-secondary-default: #fff;
  --button-secondary-hover: #cdcdcd;
  --button-secondary-active: #cdcdcd;
  --button-secondary-inactive: #f9f9fb;
  --button-secondary-border-focus: #0085f2;
  --button-secondary-border-red: #ff97a0;
  --button-secondary-border-red-focus: #ffd9dc;
  --icon-primary: #696969;
  --icon-secondary: #b3b3b3;
  --icon-information: #0085f2;
  --icon-warning: #ff2a51;
  --icon-critical: #d30038;
  --icon-success: #007936;
  --accent-primary: #0085f2;
  --accent-primary-engage: rgba(0,133,242,.1);
  --accent-secondary: #0085f2;
  --accent-tertiary: rgba(0,133,242,.1);
  --shadow-01: 0 1px 2px rgba(43,42,51,.05);
  --shadow-02: 0 1px 6px rgba(43,42,51,.1);
  --focus-01: 0 0 0 3px rgba(0,144,237,.4);
  --field-focus-border: #0085f2;
  --code-token-tag: #0069c2;
  --code-token-punctuation: #858585;
  --code-token-attribute-name: #d30038;
  --code-token-attribute-value: #007936;
  --code-token-comment: #858585;
  --code-token-default: #1b1b1b;
  --code-token-selector: #872bff;
  --code-background-inline: #f2f1f1;
  --code-background-block: #f2f1f1;
  --notecard-link-color: #343434;
  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(0,0,0,.25);
  --category-color: #0085f2;
  --category-color-background: #0085f210;
  --code-color: #5e9eff;
  --mark-color: #dce2f2;
  --plus-accent-color: #d30038;
  --html-accent-color: #d30038;
  --css-accent-color: #0069c2;
  --js-accent-color: #afa100;
  --http-accent-color: #007936;
  --apis-accent-color: #872bff;
  --learn-accent-color: #d00058;
  --plus-code-color: #0069c2;
  --html-code-color: #9e0027;
  --css-code-color: #0069c2;
  --js-code-color: #746a00;
  --http-code-color: #007936;
  --apis-code-color: #872bff;
  --learn-code-color: #d00058;
  --plus-mark-color: #ffd9dc;
  --html-mark-color: #ffd9dc;
  --css-mark-color: #dce2f2;
  --js-mark-color: #f0e498;
  --http-mark-color: #a9f3ba;
  --apis-mark-color: #e6deff;
  --learn-mark-color: #ffd9df;
  --plus-accent-background-color: #ff2a5130;
  --html-accent-background-color: #ff2a5130;
  --css-accent-background-color: #0085f230;
  --js-accent-background-color: #93870030;
  --http-accent-background-color: #009a4630;
  --apis-accent-background-color: #9b65ff30;
  --learn-accent-background-color: #ff1f7230;
  --plus-accent-engage: rgba(255,42,81,.7);
  --html-accent-engage: rgba(255,42,81,.7);
  --css-accent-engage: rgba(0,133,242,.7);
  --js-accent-engage: rgba(147,135,0,.7);
  --http-accent-engage: rgba(0,154,70,.7);
  --apis-accent-engage: rgba(155,101,255,.7);
  --learn-accent-engage: rgba(255,31,114,.7);
  --modal-backdrop-color: rgba(27,27,27,.1);
  --blend-color: #fff80;
  --text-primary-red: #d30038;
  --text-primary-green: #007936;
  --text-primary-blue: #0069c2;
  --text-primary-yellow: #746a00;
  --collections-link: #9e0027;
  --collections-header: #ffd9dc;
  --collections-mandala: #ff97a0;
  --collections-icon: #ff2a51;
  --updates-link: #0069c2;
  --updates-header: #f9f9fb;
  --updates-mandala: #8cb4ff;
  --updates-icon: #0085f2;
  --ai-help-link: #007936;
  --ai-help-header: #f9f9fb;
  --ai-help-mandala: #00d061;
  --ai-help-icon: #009a46;
  --form-limit-color: #696969;
  --form-limit-color-emphasis: #4e4e4e;
  --form-invalid-color: #d30038;
  --form-invalid-focus-color: #ff2a51;
  --form-invalid-focus-effect-color: rgba(255,42,81,.2);
  --baseline-supported-bg: #e6f4ea;
  --baseline-supported-engine-bg: #ceead6;
  --baseline-unsupported-bg: #f1f3f4;
  --baseline-unsupported-engine-bg: #e3e6e8;
  --baseline-browser-supported-bg: #1e8e3e;
  --baseline-browser-unsupported-bg: #666;
  --borderColor: #d1d1d1;
  --borderColor-active: #333;
  color-scheme: light;
}

.theme-dark {
  --text-primary: #fff;
  --text-secondary: #cdcdcd;
  --text-inactive: #cdcdcda6;
  --text-link: #8cb4ff;
  --text-invert: #1b1b1b;
  --background-primary: #1b1b1b;
  --background-secondary: #343434;
  --background-tertiary: #4e4e4e;
  --background-toc-active: #343434;
  --background-mark-yellow: rgba(199,183,0,.4);
  --background-mark-green: rgba(0,208,97,.4);
  --background-information: rgba(0,133,242,.1);
  --background-warning: rgba(255,42,81,.1);
  --background-critical: rgba(211,0,56,.1);
  --background-success: rgba(0,121,54,.1);
  --border-primary: #858585;
  --border-secondary: #696969;
  --button-primary-default: #fff;
  --button-primary-hover: #cdcdcd;
  --button-primary-active: #9e9e9e;
  --button-primary-inactive: #fff;
  --button-secondary-default: #4e4e4e;
  --button-secondary-hover: #858585;
  --button-secondary-active: #9e9e9e;
  --button-secondary-inactive: #4e4e4e;
  --button-secondary-border-focus: #0085f2;
  --button-secondary-border-red: #ff97a0;
  --button-secondary-border-red-focus: #ffd9dc;
  --icon-primary: #fff;
  --icon-secondary: #b3b3b3;
  --icon-information: #5e9eff;
  --icon-warning: #afa100;
  --icon-critical: #ff707f;
  --icon-success: #00b755;
  --accent-primary: #5e9eff;
  --accent-primary-engage: rgba(94,158,255,.1);
  --accent-secondary: #5e9eff;
  --accent-tertiary: rgba(0,133,242,.1);
  --shadow-01: 0 1px 2px rgba(251,251,254,.2);
  --shadow-02: 0 1px 6px rgba(251,251,254,.2);
  --focus-01: 0 0 0 3px rgba(251,251,254,.5);
  --field-focus-border: #fff;
  --code-token-tag: #c1cff1;
  --code-token-punctuation: #b3b3b3;
  --code-token-attribute-name: #ff97a0;
  --code-token-attribute-value: #00d061;
  --code-token-comment: #b3b3b3;
  --code-token-default: #fff;
  --code-token-selector: #bea5ff;
  --code-background-inline: #343434;
  --code-background-block: #343434;
  --notecard-link-color: #e2e2e2;
  --scrollbar-bg: transparent;
  --scrollbar-color: hsla(0,0%,100%,.25);
  --category-color: #8cb4ff;
  --category-color-background: #8cb4ff70;
  --code-color: #c1cff1;
  --mark-color: #004d92;
  --plus-accent-color: #ff97a0;
  --html-accent-color: #ff707f;
  --css-accent-color: #8cb4ff;
  --js-accent-color: #afa100;
  --http-accent-color: #00b755;
  --apis-accent-color: #ae8aff;
  --learn-accent-color: #ff6d91;
  --plus-code-color: #c1cff1;
  --html-code-color: #f9f9fb;
  --css-code-color: #c1cff1;
  --js-code-color: #c7b700;
  --http-code-color: #00d061;
  --apis-code-color: #bea5ff;
  --learn-code-color: #ff93aa;
  --plus-mark-color: #9e0027;
  --html-mark-color: #9e0027;
  --css-mark-color: #004d92;
  --js-mark-color: #564e00;
  --http-mark-color: #005a26;
  --apis-mark-color: #6800cf;
  --learn-mark-color: #9e0041;
  --plus-accent-background-color: #ff2a5130;
  --html-accent-background-color: #ff2a5130;
  --css-accent-background-color: #0085f230;
  --js-accent-background-color: #93870030;
  --http-accent-background-color: #009a4630;
  --apis-accent-background-color: #9b65ff30;
  --learn-accent-background-color: #ff1f7230;
  --plus-accent-engage: rgba(255,112,127,.7);
  --html-accent-engage: rgba(255,112,127,.7);
  --css-accent-engage: rgba(140,180,255,.7);
  --js-accent-engage: rgba(175,161,0,.7);
  --http-accent-engage: rgba(0,183,85,.7);
  --apis-accent-engage: rgba(174,138,255,.7);
  --learn-accent-engage: rgba(255,109,145,.7);
  --modal-backdrop-color: rgba(27,27,27,.7);
  --blend-color: #00080;
  --text-primary-red: #ff97a0;
  --text-primary-green: #00d061;
  --text-primary-blue: #8cb4ff;
  --text-primary-yellow: #c7b700;
  --collections-link: #ff97a0;
  --collections-header: #40000a;
  --collections-mandala: #9e0027;
  --collections-icon: #d30038;
  --updates-link: #8cb4ff;
  --updates-header: #000;
  --updates-mandala: #c1cff1;
  --updates-icon: #8cb4ff;
  --ai-help-link: #00d061;
  --ai-help-header: #000;
  --ai-help-mandala: #73e693;
  --ai-help-icon: #00d061;
  --form-limit-color: #9e9e9e;
  --form-limit-color-emphasis: #b3b3b3;
  --form-invalid-color: #ff97a0;
  --form-invalid-focus-color: #ff707f;
  --form-invalid-focus-effect-color: rgba(255,112,127,.2);
  --baseline-supported-bg: #0e2a10;
  --baseline-supported-engine-bg: #031b05;
  --baseline-unsupported-bg: #282a2c;
  --baseline-unsupported-engine-bg: #1d1e1f;
  --baseline-browser-supported-bg: #5bb974;
  --baseline-browser-unsupported-bg: #9aa0a6;
  --field-background: rgb(59, 59, 59);
  --fontColor: #d1d1d1;
  --datepicker-trigger-bgc: var(--field-background);
  --borderColor: #d1d1d1;
  --cus-background: rgb(59, 59, 59);
  color-scheme: dark;
}
.theme-dark body {
  background-color: var(--background-primary);
  color: var(--text-primary);
}
.theme-dark xy-input {
  background-color: var(--field-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #fff;
    --text-secondary: #cdcdcd;
    --text-inactive: #cdcdcda6;
    --text-link: #8cb4ff;
    --text-invert: #1b1b1b;
    --background-primary: #1b1b1b;
    --background-secondary: #343434;
    --background-tertiary: #4e4e4e;
    --background-toc-active: #343434;
    --background-mark-yellow: rgba(199,183,0,.4);
    --background-mark-green: rgba(0,208,97,.4);
    --background-information: rgba(0,133,242,.1);
    --background-warning: rgba(255,42,81,.1);
    --background-critical: rgba(211,0,56,.1);
    --background-success: rgba(0,121,54,.1);
    --border-primary: #858585;
    --border-secondary: #696969;
    --button-primary-default: #fff;
    --button-primary-hover: #cdcdcd;
    --button-primary-active: #9e9e9e;
    --button-primary-inactive: #fff;
    --button-secondary-default: #4e4e4e;
    --button-secondary-hover: #858585;
    --button-secondary-active: #9e9e9e;
    --button-secondary-inactive: #4e4e4e;
    --button-secondary-border-focus: #0085f2;
    --button-secondary-border-red: #ff97a0;
    --button-secondary-border-red-focus: #ffd9dc;
    --icon-primary: #fff;
    --icon-secondary: #b3b3b3;
    --icon-information: #5e9eff;
    --icon-warning: #afa100;
    --icon-critical: #ff707f;
    --icon-success: #00b755;
    --accent-primary: #5e9eff;
    --accent-primary-engage: rgba(94,158,255,.1);
    --accent-secondary: #5e9eff;
    --accent-tertiary: rgba(0,133,242,.1);
    --shadow-01: 0 1px 2px rgba(251,251,254,.2);
    --shadow-02: 0 1px 6px rgba(251,251,254,.2);
    --focus-01: 0 0 0 3px rgba(251,251,254,.5);
    --field-focus-border: #fff;
    --code-token-tag: #c1cff1;
    --code-token-punctuation: #b3b3b3;
    --code-token-attribute-name: #ff97a0;
    --code-token-attribute-value: #00d061;
    --code-token-comment: #b3b3b3;
    --code-token-default: #fff;
    --code-token-selector: #bea5ff;
    --code-background-inline: #343434;
    --code-background-block: #343434;
    --notecard-link-color: #e2e2e2;
    --scrollbar-bg: transparent;
    --scrollbar-color: hsla(0,0%,100%,.25);
    --category-color: #8cb4ff;
    --category-color-background: #8cb4ff70;
    --code-color: #c1cff1;
    --mark-color: #004d92;
    --plus-accent-color: #ff97a0;
    --html-accent-color: #ff707f;
    --css-accent-color: #8cb4ff;
    --js-accent-color: #afa100;
    --http-accent-color: #00b755;
    --apis-accent-color: #ae8aff;
    --learn-accent-color: #ff6d91;
    --plus-code-color: #c1cff1;
    --html-code-color: #f9f9fb;
    --css-code-color: #c1cff1;
    --js-code-color: #c7b700;
    --http-code-color: #00d061;
    --apis-code-color: #bea5ff;
    --learn-code-color: #ff93aa;
    --plus-mark-color: #9e0027;
    --html-mark-color: #9e0027;
    --css-mark-color: #004d92;
    --js-mark-color: #564e00;
    --http-mark-color: #005a26;
    --apis-mark-color: #6800cf;
    --learn-mark-color: #9e0041;
    --plus-accent-background-color: #ff2a5130;
    --html-accent-background-color: #ff2a5130;
    --css-accent-background-color: #0085f230;
    --js-accent-background-color: #93870030;
    --http-accent-background-color: #009a4630;
    --apis-accent-background-color: #9b65ff30;
    --learn-accent-background-color: #ff1f7230;
    --plus-accent-engage: rgba(255,112,127,.7);
    --html-accent-engage: rgba(255,112,127,.7);
    --css-accent-engage: rgba(140,180,255,.7);
    --js-accent-engage: rgba(175,161,0,.7);
    --http-accent-engage: rgba(0,183,85,.7);
    --apis-accent-engage: rgba(174,138,255,.7);
    --learn-accent-engage: rgba(255,109,145,.7);
    --modal-backdrop-color: rgba(27,27,27,.7);
    --blend-color: #00080;
    --text-primary-red: #ff97a0;
    --text-primary-green: #00d061;
    --text-primary-blue: #8cb4ff;
    --text-primary-yellow: #c7b700;
    --collections-link: #ff97a0;
    --collections-header: #40000a;
    --collections-mandala: #9e0027;
    --collections-icon: #d30038;
    --updates-link: #8cb4ff;
    --updates-header: #000;
    --updates-mandala: #c1cff1;
    --updates-icon: #8cb4ff;
    --ai-help-link: #00d061;
    --ai-help-header: #000;
    --ai-help-mandala: #73e693;
    --ai-help-icon: #00d061;
    --form-limit-color: #9e9e9e;
    --form-limit-color-emphasis: #b3b3b3;
    --form-invalid-color: #ff97a0;
    --form-invalid-focus-color: #ff707f;
    --form-invalid-focus-effect-color: rgba(255,112,127,.2);
    --baseline-supported-bg: #0e2a10;
    --baseline-supported-engine-bg: #031b05;
    --baseline-unsupported-bg: #282a2c;
    --baseline-unsupported-engine-bg: #1d1e1f;
    --baseline-browser-supported-bg: #5bb974;
    --baseline-browser-unsupported-bg: #9aa0a6;
    --field-background: rgb(59, 59, 59);
    --fontColor: #d1d1d1;
    --datepicker-trigger-bgc: var(--field-background);
    --borderColor: #d1d1d1;
    --cus-background: rgb(59, 59, 59);
    color-scheme: dark;
    color: var(--fontColor);
  }
  body {
    background-color: var(--background-primary);
    color: var(--text-primary);
  }
  xy-input {
    background-color: var(--field-background);
  }
}