@charset "UTF-8";
:root {
  --themeColor: #409eff; /**全局设置**/
  --borderColor: rgba(0,0,0,.2);
}

xy-date-picker.date-picker {
  all: initial;
}

.theme-dark body {
  background: #131212;
  color: #fff;
}