.swiper_slide {
    height: var(--swiper-slide-h);
}

#routerroot {
    --app-nav-w: 90px;
}

#nav {
    width: var(--app-nav-w);
}

@media screen and (max-width: 768px) {
    .a-hide-in-mobile {
        display: none !important;
    }

    #routerroot {
        flex-direction: column;
        --app-nav-w: 100%;
    }
    
    #nav {
        height: 90px;
        order: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}