.shop-nav {
    box-sizing: border-box;
    min-width: 90px;;
    position: sticky;
    top: 0;
}

.shop-good__item {
    height: var(--shop-good__item_h);
}

.shop-dialog-1::part(dialog) {
    width: 80vw;
}


@media screen and (max-width: 768px) {
    .shop-dialog-1::part(footer) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.shop-page {
    height: 100%;
    --shop-good__item_h: 160px;
    --shop-main-detail-h: 120rpx;
    --shop-main-con-h:  calc(100% - var( --shop-main-detail-h) );
    --shop-main-card-h: 0;
}

.shop-page.shop--has-cart {
    --shop-main-card-h: 100rpx;
    --shop-main-con-h: calc(100% - var( --shop-main-detail-h) - var(--shop-main-card-h));
}


.shop-cart {
    position: relative;
    overflow: hidden;
}

.shop-cart .num-text {
    line-height: 1.5;
} 

.shop-cart__detail-action {
    display: grid;   
    grid-template-columns: auto 1fr repeat(3,auto);
    padding: 10rpx;
}

.shop-cart__item {
    display: grid;   
    grid-template-columns: auto 1fr repeat(3,auto);
    padding: 0 10rpx;
    padding-right: 0;
    margin-top: 20rpx;
    align-items: baseline;
}

.shop-cart__item-act {
    text-align: center;
    width: 60rpx;
    font-size: 20px;
}

.shop-cart__action {
    box-sizing: border-box;
    padding: 0 10rpx;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    align-items: center;
    box-sizing: border-box;
}

.shop-cart__mask {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--shop-cart__mask-h);
    opacity: 0;
    background-color: var(--shop-cart__mask-bgc, #33333350);
    z-index: -1;

}

.shop-cart__detail {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background-color: #fff;
    min-height: 160rpx;
}

.shop-cart--show-detail {
    overflow: initial;
}

.shop-cart--show-detail .shop-cart__mask {
    transform: translateY(-100%);
    opacity: 1;
    z-index: 0;
    transition: opacity ease .5s;
}

.shop-cart--show-detail .shop-cart__detail {
    transform: translateY(-100%);
    opacity: 1;
    z-index: 1;
    transition: all ease .3s;
}