// ::view-transition-old(root) {
//     animation-duration: 0.25s;
// }
// ::view-transition-new(root) {
//   animation-duration: 0.5s;
// }

@keyframes grow-x {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
}
  
@keyframes shrink-x {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}
  
::view-transition-old(root),
::view-transition-new(root) {
    height: auto;
    right: 0;
    left: auto;
    transform-origin: right center;
}

::view-transition-old(root) {
    animation: 0.5s;
}

::view-transition-new(root) {
    animation: 0.3s 0.2s ease both grow-x;
}

.a-page {
    container-type: inline-size;
    container-name: a_page;
}

.a-swiper {
    height: var(--swiper-slide-h);   
}

.a-btn-radio-group {
    .a-radio1 {
        border: 1px solid var(--a-btn-radio-bgc, var(--borderColor));
        &::part(checked) {
            opacity: 0;
            margin: 0;
            width: 1px;
        }
        &[checked] {
            border-color: var(--a-btn-radio-checked-bgc, var( --borderColor-active));
        }
    }
}

.a-page-wrapper {
    height: 100%;
    --page-wrapper-nav-tpl: 1fr 60vw 1fr;
    --page-wrapper-nav-h: 40px;
    --page-wrapper-content-h: calc(100% - 40px);
    .page-wrapper__nav {
        align-items: center;
    }
}


.a-page-frame {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none;
    background: #fff;
}

#routerroot {
    --app-nav-w: 90px;
}

#nav {
    width: var(--app-nav-w);
    // display: none;
    .nav__link {
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }
    .nav--seleted {
        color: var(--text-primary-blue);
    }
}

@media screen and (min-width: 769px) {
    .a-page {
        // width: 1000px;
        // margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .a-hide-in-mobile {
        display: none !important;
    }

    #routerroot {
        flex-direction: column;
        --app-nav-w: 100%;
    }
    
    #nav {
        height: 70px;
        order: 1;
        display: grid;
        &:has(.nav__link:nth-child(2)) {
            grid-template-columns: 1fr 1fr;
        }
        &:has(.nav__link:nth-child(3)) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        grid-template-columns: 1fr;
        > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}