.swiper_slide {
    height: var(--swiper-slide-h);
}

.nav--seleted {
    color: var(--text-primary-blue);
}

.a-btn-radio-group {
    .a-radio1 {
        border: 1px solid var(--a-btn-radio-bgc, var(--borderColor));
        &::part(checked) {
            opacity: 0;
            margin: 0;
            width: 1px;
        }
        &[checked] {
            border-color: var(--a-btn-radio-checked-bgc, var( --borderColor-active));
        }
    }
}


.a-page-frame {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none;
    background: #fff;
}

#routerroot {
    --app-nav-w: 90px;
}

#nav {
    width: var(--app-nav-w);
    // display: none;
    .nav__link {
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .a-hide-in-mobile {
        display: none !important;
    }

    #routerroot {
        flex-direction: column;
        --app-nav-w: 100%;
    }
    
    #nav {
        height: 70px;
        order: 1;
        display: grid;
        &:has(.nav__link:nth-child(2)) {
            grid-template-columns: 1fr 1fr;
        }
        &:has(.nav__link:nth-child(3)) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        grid-template-columns: 1fr;
        > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}