/* reset */
.page-content h2 {
  margin-top: 3.5rem;
}

.page-content.has-page-title > h2:first-child {
  margin-top: 3.5rem;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: var(--accent-color);
}

.el-autocomplete {
  width: 100%;
}

.el-autocomplete-suggestion {
  width: auto !important;
}

.search-dialog .el-dialog__close {
  display: none;
}

.search-dialog .el-dialog__header {
  padding: 0;
}

.search-dialog .el-dialog__body {
  padding: 0;
}

.search-dialog .el-dialog {
  width: 50%;
  background-color: transparent;
  max-width: 600px;
}

/* page */
.a-iframe {
  display: block;
  width: 100%;
}

@media print {
  #live2d-widget {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #live2d-widget {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .medium-zoom-image--opened,
  .medium-zoom-overlay {
    z-index: 10000011;
  }
}
