<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub</title>
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
        }

        #routerroot {
            overflow: auto;
        }

        #nav {
            position: sticky;
            top: 0;
        }
    </style>
    <%- links %>
        <script type="importmap">
        {
          "imports": <%- importmap %>
        }
    </script>
        <script type="module">
            let cssFileName = '<%= APP_CSS_PATH %>';
            if (window.innerWidth === 360) {
                cssFileName = cssFileName.replace('.css', '_360.css')
            }
            const cssModule = await import(cssFileName, {
                assert: { type: 'css' }
            });
            document.adoptedStyleSheets = [cssModule.default];


             let name = location.hash.slice(2);
            window.self = window.parent;
            globalThis.VueDemi = self.VueDemi;
            // import { createStyleSheet } from '/assets/wle-router.js?v=0.1.0';


            let curPageCtx = null;
            let curParams = null;

            window.addEventListener("message",function (e) {
                if (e.origin === location.origin) {
                    let data = e.data;
                    if (data.type === "__page-params") {
                        curParams = data.data;
                        // console.log('curPageCtx', curPageCtx);
                    }
                }
            })


            import('/assets/wle-router.js?v=0.1.0').then(m => {
                m.createStyleSheet(name);

                self.wRoute.loadSubPage({
                    nid: 'sub', routerName: name,
                    reRender(innerEle) {
                        document.getElementById('routerroot').appendChild(innerEle)
                    },
                    onEnd(pageCtx) {
                        curPageCtx =  pageCtx;
                        if (curPageCtx?.lifeTimes?.onReady) {
                            curPageCtx.lifeTimes.onReady()
                        }
                        // console.log(self.__conditionMap__);
                        // console.log('routerName load end', curPageCtx, curParams);
                    }
                });
            });





        // console.log(globalThis, window, self);

        </script>
</head>

<body>
    <div id="routerroot" class="h-full"></div>
</body>

</html>