<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub</title>
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
        }

        #routerroot {
            overflow: auto;
        }

        #nav {
            position: sticky;
            top: 0;
        }
    </style>
        <%- links %>
    <script type="importmap">
        {
          "imports": <%- importmap %>
        }
    </script>
    <script type="module">


        let name = location.hash.slice(2);
        window.self = window.parent;
        globalThis.VueDemi = self.VueDemi;
        // import { createStyleSheet } from '/assets/wle-router.js?v=0.1.0';


        import('/assets/wle-router.js?v=0.1.0').then(m => {
            m.createStyleSheet(name);

            self.wRoute.loadSubPage({
                nid: 'sub', routerName: name, 
                reRender(innerEle) {
                    document.getElementById('routerroot').appendChild(innerEle)
                },
                onEnd() {
                    console.log(self.__conditionMap__);
                    console.log('routerName load end', name);
                }
            });
        })





        console.log(globalThis, window, self);

    </script>
</head>

<body>
    <div id="routerroot" class="h-full"></div>
</body>

</html>