:root {
    --themeColor: #409eff;/**全局设置**/
    --borderColor:  rgba(0,0,0,.2);
}

// reset
html {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

textarea {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

my-date-picker.date-picker {
    all: initial;
    height: 39px;
    display: block;
}


//  theme
.theme-dark {
    body {
        background: #131212;
        color: #fff;
    }
}